.main {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  top: 25px;
  width: 1200px;
  padding-left:50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  background-color: #000000;
  color: #696969;
}

a:link {
    color: aqua;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: aqua;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
