.main {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  top: 25px;
  width: 1200px;
  padding-left:25px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 25px;
  background-color: #EDE8DD;
}

.background {
font-size: 14px;
margin: 0px;
padding: 0px;
background-color: #e8b025;

}
