.main {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  top: 25px;
  width: 1200px;
  padding-left:50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  background-color: #EDE8DD;
}

.mainnfl {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  top: 25px;
  width: 1200px;
  padding-left:50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  background-color: black;
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

#imgVIIRS {
    float: right;
    margin-right: 15px;
    max-width: 35%;
    max-height: 35%
}

#imgViewpoint {
  float: right;
  margin-left: 15px;
  max-width: 45%;
  max-height: 45%
}

#img1935b {
  float: left;
  margin-right: 15px;
  max-width: 35%;
  max-height: 35%
}
  
p {
  overflow: hidden;
}